<!doctype html>
<html><head><style>
body{margin:8px;font:16px sans-serif}
.cb{position:relative;width:400px;height:200px;padding:10px;border:3px solid #000;margin-bottom:12px;background:#eee}
.a{position:absolute;background:#8af}
</style></head><body>
<div class="cb" id="cb1">
 <div class="a" id="a1" style="top:0;left:0;width:50px;height:50px"></div>
 <div class="a" id="a2" style="right:0;bottom:0;width:50px;height:50px"></div>
 <div class="a" id="a3" style="top:10%;left:25%;width:50%;height:50%"></div>
 <div class="a" id="a4" style="top:0;bottom:0;left:60px;width:20px"></div>
 <div class="a" id="a5" style="left:0;right:0;top:100px;height:10px"></div>
 <div class="a" id="a6" style="top:0;left:0;right:0;bottom:0;margin:auto;width:40px;height:40px"></div>
 <div class="a" id="a7" style="bottom:10px;left:10px">shrink text</div>
 <div class="a" id="a8" style="top:20px;right:20px;padding:5px;border:2px solid red">pad</div>
 <div class="a" id="a9" style="inset:30px 50px"></div>
 <div class="a" id="a10" style="top:50%;left:50%;width:60px;height:30px;transform:translate(-50%,-50%)"></div>
</div>
<div class="cb" id="cb2">
 text before <span id="s1">static <span class="a" id="a11" style="width:30px;height:30px"></span> after</span>
 <div id="a12" class="a" style="width:30px;height:30px"></div>
 <div id="a13" class="a" style="left:auto;top:auto;width:30px;height:30px;background:#f00"></div>
</div>
<div class="cb" id="cb3" style="height:auto">
 <p id="pp">Some text in flow. A relative box's abs children resolve percentages against its padding box.</p>
 <div class="a" id="a14" style="top:0;left:0;width:100%;height:100%;box-sizing:border-box;border:4px solid green;background:none"></div>
 <img class="a" id="i1" src="a.jpg" width="80" height="45" style="top:5px;right:5px">
 <img class="a" id="i2" src="a.jpg" style="bottom:0;left:0;width:100px">
 <img class="a" id="i3" src="a.jpg" style="bottom:0;right:0;height:30px">
 <img class="a" id="i4" src="a.jpg" width="80" height="45" style="top:0;left:120px;width:100%;height:100%">
</div>
<div id="nest" style="position:relative;width:300px;height:100px;background:#ddd">
 <div style="position:absolute;top:10px;left:10px;width:200px;height:60px;background:#bbb" id="n1">
   <div class="a" id="n2" style="right:0;top:0;width:50%;height:50%"></div>
 </div>
</div>
<div id="fx" style="position:fixed;top:0;right:0;width:40px;height:40px;background:#0a0"></div>
<div id="rel" style="position:relative;top:10px;left:20px;width:100px;height:20px;background:#cc8"></div>
<div id="relp" style="position:relative;left:10%;width:100px;height:20px;background:#8cc"></div>
<div style="height:40px"></div>
<div id="st-wrap" style="height:100px"><div id="st" style="position:sticky;top:0;height:20px;background:#c8c"></div></div>
</body></html>
