<!doctype html>
<html><head><style>
html,body{height:100%;margin:0}
body{font:16px sans-serif}
#wrap{min-height:100%;display:flex;flex-direction:column;background:#eef}
#head{height:50px;background:#88f}
#main{flex:1 0 auto;background:#efe}
#foot{height:30px;background:#f88}
.vh{height:50vh;background:#ffc}
.p{height:200px;background:#ddd}
.p>div{height:50%;background:#aaa}
.q{min-height:100px;background:#ccc}
.q>div{height:50%;background:#999}
.r{height:200px}
.r>div{min-height:25%;max-height:40%;height:300px;background:#666}
</style></head><body>
<div id="wrap"><div id="head"></div><div id="main"><div class="vh" id="vh1"></div><div id="vw" style="width:50vw;height:10vmin;background:#cfc"></div>
<div class="p" id="p1"><div id="p1a"></div></div>
<div class="q" id="q1"><div id="q1a"></div></div>
<div class="r" id="r1"><div id="r1a"></div></div>
<div id="bs" style="height:100px;padding:10px;border:5px solid red;box-sizing:border-box"></div>
<div id="calc" style="height:calc(100px + 10%);background:#abc"></div>
</div><div id="foot"></div></div>
</body></html>
