<!doctype html>
<html><head><style>
body{margin:8px;font:16px sans-serif}
.ib{display:inline-block;background:#8af}
div.l{width:500px;background:#eee;margin-bottom:8px}
</style></head><body>
<div class="l" id="l1">Text <span class="ib" id="b1" style="width:40px;height:40px"></span> text <span class="ib" id="b2" style="padding:5px">inner</span> end</div>
<div class="l" id="l2" style="line-height:0"><span class="ib" id="b3" style="width:40px;height:40px"></span><span class="ib" id="b4" style="width:40px;height:20px"></span></div>
<div class="l" id="l3" style="line-height:0;font-size:0"><span class="ib" id="b5" style="width:40px;height:40px"></span><span class="ib" id="b6" style="width:40px;height:20px"></span></div>
<div class="l" id="l4">A <span class="ib" id="b7" style="width:30px;height:30px;vertical-align:middle"></span> <span class="ib" id="b8" style="width:30px;height:30px;vertical-align:top"></span> <span class="ib" id="b9" style="width:30px;height:30px;vertical-align:bottom"></span> <span class="ib" id="b10" style="width:30px;height:60px;vertical-align:-10px"></span> <span id="sup" style="vertical-align:super">sup</span> <span id="sub" style="vertical-align:sub">sub</span></div>
<div class="l" id="l5"><img id="im1" src="a.jpg" width="60" height="30"> <img id="im2" src="a.jpg" width="60" height="30" style="vertical-align:middle"> text</div>
<div class="l" id="l6"><img id="im3" src="a.jpg" width="60" height="30" style="display:block"></div>
<div class="l" id="l7" style="line-height:30px">line <span id="s7" style="font-size:24px">big</span> small</div>
<div class="l" id="l8" style="line-height:1.5">A paragraph of text that wraps over several lines because it is long enough to need at least two or three lines in a five hundred pixel wide box, which it is.</div>
<div class="l" id="l9"><span class="ib" id="b11" style="width:100px"><span style="display:block;height:20px;background:#f88" id="b11a"></span>text below</span> baseline</div>
<div class="l" id="l10"><span class="ib" id="b12" style="width:100px;height:40px;overflow:hidden">clip</span> baseline</div>
<div class="l" id="l11" style="text-align:center"><span class="ib" id="b13" style="width:100px;height:20px"></span></div>
<div class="l" id="l12" style="text-align:right"><span class="ib" id="b14" style="width:100px;height:20px"></span></div>
<div class="l" id="l13"><span id="pad" style="padding:10px;border:2px solid red;margin:0 5px">padded inline</span> next</div>
<div class="l" id="l14"><span class="ib" id="b15" style="width:200px;margin:10px"></span><span class="ib" id="b16" style="width:200px;height:10px;margin-top:20px"></span></div>
<ul id="ul"><li id="li1">one</li><li id="li2">two</li></ul>
<p id="p1">paragraph</p><h1 id="h1">Heading</h1><h2 id="h2">Heading 2</h2>
</body></html>
