<!doctype html>
<html><head><style>
body{margin:8px;font:16px sans-serif}
.b{background:#8af;margin-bottom:6px}
</style></head><body>
<dialog id="d1"><div id="d1a" style="height:30px">closed dialog</div></dialog>
<div id="h1" hidden style="height:30px">hidden</div>
<div class="b" id="dc" style="display:contents"><div id="dc1" class="b" style="height:10px"></div></div>
<div style="display:flex;width:300px" id="dcf"><div style="display:contents" id="dcf0"><div id="dcf1" class="b" style="flex:1;height:10px"></div><div id="dcf2" class="b" style="flex:1;height:10px"></div></div></div>
<div class="b" id="ar1" style="width:200px;aspect-ratio:16/9"></div>
<div class="b" id="ar2" style="height:50px;aspect-ratio:2;display:inline-block"></div>
<div class="b" id="ar3" style="width:30%;aspect-ratio:1"></div>
<div style="display:flex;width:400px" id="arf"><div id="arf1" class="b" style="flex:1;aspect-ratio:4/1"></div><div id="arf2" class="b" style="width:100px;height:20px"></div></div>
<div class="b" id="ar4" style="height:12px;aspect-ratio:5"></div>
<div style="display:flex;flex-direction:column;align-items:center;width:300px" id="arf2"><div id="ar5" class="b" style="height:12px;aspect-ratio:5"></div></div>
<div class="b" id="bs1" style="width:200px;height:50px;padding:10px;border:5px solid #000;box-sizing:border-box"></div>
<div class="b" id="bs2" style="width:200px;padding:10px;border:5px solid #000;box-sizing:content-box;height:20px"></div>
<div class="b" id="mx1" style="width:500px;max-width:50%;height:10px"></div>
<div class="b" id="mx2" style="width:100px;min-width:300px;height:10px"></div>
<div class="b" id="mx3" style="height:10px;min-height:30px"></div>
<div class="b" id="mx4" style="height:100px;max-height:20px"></div>
<div class="b" id="ma1" style="width:200px;margin:0 auto;height:10px"></div>
<div class="b" id="ma2" style="width:200px;margin-left:auto;height:10px"></div>
<div class="b" id="neg" style="margin:-5px 20px 0 -10px;height:10px"></div>
<div id="col1" style="margin-bottom:20px"><div id="col2" style="margin-bottom:30px;height:10px" class="b"></div></div>
<div id="col3" style="margin-top:25px;height:10px" class="b"></div>
<div id="empty" style="margin:10px 0"></div>
<div id="ov" style="overflow:hidden;height:40px;width:200px" class="b"><div id="ov1" style="height:100px"></div></div>
<div id="ovs" style="overflow:auto;height:40px;width:200px" class="b"><div id="ovs1" style="height:100px"></div></div>
<center id="ce"><div id="ce1" style="width:100px;height:10px" class="b"></div></center>
<hr id="hr">
<div id="pre" style="white-space:pre">line one
line two</div>
<div id="nw" style="white-space:nowrap;width:100px;overflow:hidden">no wrap text that is longer</div>
<div id="svgw" style="width:100px"><svg id="sv" width="40" height="30" viewBox="0 0 40 30"><rect width="40" height="30"/></svg></div>
<img id="img1" src="a.jpg" style="width:120px;height:120px;object-fit:cover">
<img id="img2" src="a.jpg" style="max-width:100%;width:800px">
<picture id="pic"><img id="img3" src="a.jpg" width="100"></picture>
<video id="vid" width="160" height="90"></video>
<iframe id="ifr" width="100" height="50" src="about:blank"></iframe>
</body></html>
